{{#if products.length }}
<div class="table-products__wrapper">
    <table class="table-products">
        <caption class="table-products__caption">Productos</caption>
        <thead class="table-products__header">
            <tr class="table-products__row">
                <th class="table-products__head" scope="column">Id</th>
                <th class="table-products__head" scope="column">Header</th>
                <th class="table-products__head" scope="column">Nombre</th>
                <th class="table-products__head" scope="column">Marca</th>
                <th class="table-products__head" scope="column">Precio</th>
                <th class="table-products__head" scope="column">Stock</th>
                <th class="table-products__head" scope="column">Imagen</th>
                <th class="table-products__head" scope="column">E.Min</th>
                <th class="table-products__head" scope="column">E.Max</th>
                <th class="table-products__head" scope="column">Envio Gratis</th>
                <th class="table-products__head" scope="column">Descripción Corta</th>
                <th class="table-products__head" scope="column">Acciones</th>
            </tr>
        </thead>
        <tbody class="table-products__body">
            {{#each products}}
                <tr class="table-products__row">
                    <td class="table-products__data" data-product-property="id">{{id}}</td>
                    <td class="table-products__data" data-product-property="header">{{header}}</td>
                    <td class="table-products__data" data-product-property="name">{{title}}</td>
                    <td class="table-products__data" data-product-property="brand">{{brand}}</td>
                    <td class="table-products__data" data-product-property="price">${{price}}</td>
                    <td class="table-products__data" data-product-property="stock">{{stock}}</td>
                    <td class="table-products__data" data-product-property="image">{{image}}</td>
                    <td class="table-products__data" data-product-property="minAge">{{minAge}}</td>
                    <td class="table-products__data" data-product-property="maxAge">{{maxAge}}</td>
                    <td class="table-products__data" data-product-property="ship">{{ship}}</td>
                    <td class="table-products__data" data-product-property="shortDescription">{{shortDescription}}</td>
                    <td class="table-products__data">
                        <button type="button" title="Editar producto" class="button button--modify-table fa-solid fa-pen"></button>
                        <button type="button" title="Eliminar producto" class="button button--delete-table fa-solid fa-trash"></button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
        <tfoot class="table-products__footer">
            <tr class="table-products__row">
                <td class="table-products__data" colspan="5">Se encontraron {{products.length}} productos</td>
            </tr>
        </tfoot>
    </table>
</div>
{{else}}
    <p>No se encontraron productos</p>
{{/if}}